#navbarTitle {
  margin-left: 10px;  
}

.page-content {
  color: grey;
}

i.icon.icon-more-vert {
  width: 24px;
  height: 24px;
  background-image: url("/static/material-design-icons/navigation/1x_web/ic_more_vert_white_24dp.png");
}

#btnStartStop {
  height: 111px;
}

i.icon.icon-wkrower {
  width: 100px;
  height: 75px;
  background-image: url("/static/images/rower_WK.PNG");
}
